<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--
    &lt;!&ndash;增加配置文件，代码获取方式为PropertyPlaceholder.getProperty("KEY")&ndash;&gt;
    <bean id="propertyConfigurer" class="cn.danao.conf.PropertyPlaceholder">
        <property name="locations">
            <list>
                <value>classpath*:test.properties</value>
                <value>classpath*:test1.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="utf-8"/>
    </bean>
    -->

</beans>